.align-add-remove-button {
  display: flex;
  justify-content: left;
  align-items: center;
}

table tr.highlight {
  background-color: #2fa4e7 !important;
  color: #ffffff;
}

table tr.selected {
  background-color: #2683b9 !important;
  color: #ffffff;
}

.round-button {
  border-radius: 30px !important;
  width: 55px !important;
  height: 55px !important;
  margin-right: 20px;
}

.display-button-center {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button-center {
  display: flex;
  justify-content: center;
}

.button-margin {
  margin-right: 10px;
}

.table-row {
  display: block;
  min-height: 45px;
}
