.align-add-remove-button {
  display: flex;
  justify-content: left;
  align-items: center;
}

table tr.highlight {
  background-color: #2fa4e7 !important;
  color: #ffffff;
}

table tr.selected {
  background-color: #2683b9 !important;
  color: #ffffff;
}

.button-center {
  display: flex;
  justify-content: center;
}

.button-margin {
  margin-right: 10px;
}
