.align-add-remove-button {
  display: flex;
  justify-content: left;
  align-items: center;
}

.button-center {
  display: flex;
  justify-content: center;
}

.button-margin {
  margin-right: 10px;
}
